<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EV Charging Tracker - {% block title %}Authentification{% endblock %}</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/flowbite.css') }}">
            <link rel="stylesheet" href="{{ asset('fonts/Poppins/poppins.css') }}">
            <link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('js/tailwind.js') }}" defer></script>
            <script src="{{ asset('js/flowbite.js') }}" defer></script>
        {% endblock %}
    </head>
    <body class="bg-gray-50" style="font-family: 'Poppins',serif">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <h1 class="flex items-center mb-6 text-4xl font-semibold text-gray-900 ">
                EV Charging Tracker
            </h1>

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
