{% extends 'layouts/base.html.twig' %}

{% block title %}Add station{% endblock %}

{% block body %}
    <a href="{{ path('station.index') }}" class="text-sm text-gray-500 hover:text-blue-500">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </a>

    <div class="flex flex-col items-center justify-center">
        <h1 class="text-2xl font-semibold mb-4">Add new station</h1>
        <div class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8">
            {{ form_start(form) }}
                <div class="mb-4">
                    {{ form_label(form.name, 'Name', {
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}
                    }) }}

                    {{ form_widget(form.name, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5',
                            'placeholder': 'Tesla Supercharger'
                        }
                    }) }}

                    {{ form_errors(form.name, {'attr': {'class': 'text-red-500 text-sm mt-1'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.outputPower, 'Power output', {
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}
                    }) }}

                    {{ form_widget(form.outputPower, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5',
                            'placeholder': '300 kW'
                        }
                    }) }}

                    {{ form_errors(form.outputPower, {'attr': {'class': 'text-red-500 text-sm mt-1'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(form.electricityPrice, 'Electricity price', {
                        'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'}
                    }) }}

                    {{ form_widget(form.electricityPrice, {
                        'attr': {
                            'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5',
                            'placeholder': '0.3 €/kWh'
                        }
                    }) }}

                    {{ form_errors(form.electricityPrice, {'attr': {'class': 'text-red-500 text-sm mt-1'}}) }}
                </div>

                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                    Save
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
