{% extends 'layouts/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="md:flex justify-between mb-4">
        <h3 class="mb-4 text-xl font-semibold">General overview</h3>

        <form method="get" action="{{ path('dashboard.index') }}">
            <div class="flex gap-1">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                    <input type="text" name="daterange" value="{{ app.request.query.get('daterange') }}" class="w-60 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5">
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                    Apply
                </button>
            </div>
        </form>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
            <i class="fa-solid fa-plug-circle-bolt text-gray-400 mb-3 text-2xl"></i>
            <p class="font-normal text-gray-500 mb-1">Total chargings</p>
            <h5 class="text-4xl font-semibold tracking-tight text-gray-900">{{ stats.total_chargings }}</h5>
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
            <i class="fa-solid fa-bolt text-gray-400 mb-3 text-2xl"></i>
            <p class="font-normal text-gray-500 mb-1">Total kWh</p>
            <h5 class="text-4xl font-semibold tracking-tight text-gray-900">{{ stats.total_kwh|number_format(2, ',', ' ') }} kWh</h5>
        </div>

        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
            <i class="fa-solid fa-money-bill text-gray-400 mb-3 text-2xl"></i>
            <p class="font-normal text-gray-500 mb-1">Total cost</p>
            <h5 class="text-4xl font-semibold tracking-tight text-gray-900">{{ stats.total_cost|number_format(2, ',', ' ') }} €</h5>
        </div>
    </div>

    <div class="rounded-lg bg-white p-4">
        <h3 class="mb-4 text-xl font-semibold text-gray-900">Latest chargings</h3>

        {% if lastChargings is empty %}
            <p class="text-center text-sm italic text-gray-500 mb-2">No chargings</p>
        {% else %}
            <div class="relative overflow-x-auto mb-4">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Car
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Station
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total kWh
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total cost
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Duration
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for charging in lastChargings %}
                        <tr class="bg-white border-b border-gray-200">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                                {{ charging.car.displayName }}
                            </th>
                            <td class="px-6 py-4">
                                {{ charging.station.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ charging.date|date('d/m/Y') }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ charging.totalKwh|round(2) }} kWh
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ charging.totalCost|round(2) }} €
                            </td>
                            <td class="px-6 py-4">
                                {% if charging.duration %}
                                    {{ charging.duration|date('H:i') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="flex justify-center">
                <a href="{{ path('charging.index') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 inline-flex items-center justify-center gap-2 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5">
                    <i class="fa-solid fa-eye"></i>
                    View all
                </a>
            </div>
        {% endif %}
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search)
        const daterangeParam = urlParams.get('daterange')

        let startDate, endDate

        if (daterangeParam && daterangeParam.includes(' - ')) {
            const dates = daterangeParam.split(' - ')
            startDate = moment(dates[0], 'DD/MM/YYYY')
            endDate = moment(dates[1], 'DD/MM/YYYY')
        } else {
            startDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1)
            endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
        }

        $('input[name="daterange"]').daterangepicker({
            "autoApply": true,
            "locale": {
                "format": "DD/MM/YYYY",
                "firstDay": 1
            },
            startDate: startDate,
            endDate: endDate,
        })
    </script>
{% endblock %}
